@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Oswalds";
  src: url(../fonts/Oswald-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Public Sans";
  src: url(../fonts/PublicSans-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Oswalds";
  src: url(../fonts/Oswald-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Public Sans";
  src: url(../fonts/PublicSans-Regular.otf) format("opentype");
}
footer .footer-wrapper .footer-bottom-text, footer .footer-wrapper .footer-container .button-container p {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  line-height: 1.2;
}

.desktop-navbar-wrapper .desktop-menu-container, .desktop-navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blog-container, .hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-container .cards-container .blog-card .readmore-container a:hover, .blog-container .cards-container .blog-card .blog-card-heading:hover {
  text-decoration: underline;
}

.blog-container .cards-container .blog-card:hover {
  transform: translateY(-0.2rem);
  transition: transform 0.3s ease;
}

@font-face {
  font-family: "Oswalds";
  src: url(../fonts/Oswald-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Public Sans";
  src: url(../fonts/PublicSans-Regular.otf) format("opentype");
}
* {
  text-decoration: none;
  font-family: public sans, "times new roman";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container-new {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  padding: 5rem 0 0 0;
  margin: 0;
  background-color: rgb(240, 240, 240);
}

button {
  cursor: pointer;
  padding: 0.7rem 1.8rem;
  border-radius: 100px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.cta-button-1 {
  font-size: 1.5rem;
  color: white;
  background-color: rgb(16, 24, 32);
}
.cta-button-1:hover {
  transition: background-color 0.3s ease;
  background-color: rgb(252, 224, 100);
  color: rgb(16, 24, 32);
}

.cta-button-2 {
  color: white;
  background-color: rgb(16, 24, 32);
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid black;
}
.cta-button-2:hover {
  transition: background-color 0.3s ease;
  background-color: rgb(255, 255, 255);
  color: rgb(16, 24, 32);
}

.cta-button-3 {
  color: white;
  background-color: rgb(16, 24, 32);
  font-size: 1.5rem;
  border: 1px solid rgb(255, 255, 255);
}
.cta-button-3:hover {
  transition: background-color 0.3s ease;
  background-color: rgb(209, 224, 215);
  color: rgb(16, 24, 32);
}

header {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.desktop-navbar-wrapper {
  width: 100%;
  gap: 10px;
  height: 6rem;
}
.desktop-navbar-wrapper .desktop-menu-container {
  width: 50%;
  list-style: none;
}
.desktop-navbar-wrapper .desktop-menu-container li {
  padding: 0.5rem 1rem;
  border-radius: 100rem;
}
.desktop-navbar-wrapper .desktop-menu-container li:hover {
  transition: background-color 0.3s ease;
  background-color: rgb(16, 24, 32);
  color: white;
}
.desktop-navbar-wrapper .desktop-menu-container li:hover a {
  color: white;
}
.desktop-navbar-wrapper .desktop-menu-container li a {
  color: rgb(16, 24, 32);
}

.toggle-container {
  width: fit-content;
  display: none;
  justify-content: center;
  align-items: center;
}
.toggle-container img {
  height: 2rem;
  width: 2rem;
}

aside {
  display: none;
}

.hero-container {
  height: fit-content;
  padding: 5rem 20px;
  gap: 2rem;
}
.hero-container .hero-heading {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Times New Roman, serif";
  font-size: 4rem;
  font-weight: 400;
  color: rgb(16, 24, 32);
  line-height: 1.2;
}
.hero-container .hero-grid-container {
  width: fit-content;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}
.hero-container input {
  height: 3rem;
  width: 100%;
  border-radius: 0.5rem;
  border: solid;
  border-width: 1px;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(16, 24, 32);
}
.hero-container input::placeholder {
  font-weight: 400;
}
.hero-container button {
  height: 3rem;
  grid-area: button;
}
.hero-container p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.hero-container .hero-paragraph {
  font-size: 1rem;
  color: rgb(16, 24, 32);
}

.banner-svg-container {
  width: 100vw;
  height: 100%;
  padding-bottom: 5rem;
}
.banner-svg-container .banner-svg {
  width: 100%;
  height: auto;
}

.blog-wrapper {
  background-color: rgb(255, 255, 255);
}

.blog-container {
  background-color: white;
  gap: 2rem;
  padding: 5rem 1.25rem;
}
.blog-container h1 {
  font-family: "Oswald", "Times New Roman, serif";
  font-size: 3rem;
  font-weight: 400;
  color: rgb(16, 24, 32);
  line-height: 1.2;
}
.blog-container .cards-container {
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: row;
  width: 100%;
  display: inline-grid;
  gap: 2rem;
}
.blog-container .cards-container .blog-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.5fr;
  grid-template-areas: "heading" "content" "readmore-date";
  gap: 1.5rem;
  height: 25rem;
  padding: 1.5rem;
  border: 2px solid rgb(238, 238, 238);
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.blog-container .cards-container .blog-card .blog-card-heading {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Oswald", "Times New Roman, serif";
  color: rgb(16, 24, 32);
  line-height: 2rem;
}
.blog-container .cards-container .blog-card .blog-content {
  line-height: 24px;
  color: #101820;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-weight: 400;
}
.blog-container .cards-container .blog-card .readmore-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-more-container {
  display: flex;
  justify-content: center;
}

.division-line {
  width: 100%;
  height: 0.5rem;
  background-color: rgb(209, 224, 215);
}

footer {
  padding: 5rem 0px;
  height: fit-content;
  background-image: linear-gradient(to right, rgb(16, 24, 32), rgb(62, 62, 62));
  color: rgb(255, 255, 255);
}
footer .footer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}
footer .footer-wrapper .footer-container {
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;
}
footer .footer-wrapper .footer-container .footer-links {
  line-height: 2rem;
  list-style: none;
}
footer .footer-wrapper .footer-container .footer-links .footer-link a {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
footer .footer-wrapper .footer-container .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
footer .footer-wrapper .footer-container .button-container button {
  width: fit-content;
}
footer .footer-wrapper .footer-container .button-container p {
  text-align: center;
}
footer .footer-wrapper .footer-bottom-text {
  height: fit-content;
}
footer .footer-wrapper .footer-bottom-text a {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 1160px) {
  .desktop-menu-container {
    width: fit-content !important;
  }
  .desktop-menu-container li {
    display: none;
  }
  aside {
    display: block !important;
  }
  .toggle-container {
    display: flex !important;
  }
  .blog-container h1 {
    font-size: 2rem;
  }
  .blog-container .blog-card:hover {
    transform: none !important;
  }
  footer .footer-wrapper .footer-container {
    width: 100% !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 760px) {
  .hero-grid-container {
    width: 100% !important;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important;
  }
  .hero-container {
    height: 30rem;
  }
  .hero-container .hero-heading {
    font-size: 2rem;
    width: 20rem;
  }
}