@import "variables";
%button-hover-logo {
  background-color: $primary-button-color;
  &:hover {
    background-color: $alt-accent-color;
    transition: background-color 0.3s ease;
  }
}
%content-text {
  color: $primary-text-color;
  font-size: 1rem;
}
%subtitle-text {
  color: $white;
  font-size: 0.6rem;
}
%flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
%underline-on-hover {
  &:hover {
    text-decoration: underline;
  }
}

%float-on-hover {
  &:hover {
    transform: translateY(-0.2rem);
    transition: transform 0.3s ease;
  }
}
