@import "variables";
@import "extends";
@import "mixin";
* {
  text-decoration: none;
  font-family: $content-font;
  font-weight: 300;
}

body {
  background-color: $primary-background-color;
}

button {
  // @extend %button-hover-logo;
  // @include theme($theme: $primary-accent-color);
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
  border: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: $white;
}
.cta-button-1 {
  @include theme($theme: $primary-accent-color);
}
.cta-button-2 {
  font-size: 1rem;
  font-weight: 600;
  @include theme($theme: $white);
  border: 1px solid black;
}
.cta-button-3 {
  @include theme($theme: $alt-accent-color);
}
