@font-face {
  font-family: "Oswalds";
  src: url(../fonts/Oswald-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Public Sans";
  src: url(../fonts/PublicSans-Regular.otf) format("opentype"); // Assuming the font file format is TrueType (ttf)
}
//colors:
$white: rgb(255, 255, 255);
$blue: rgb(0, 115, 255);
$black: rgb(16, 24, 32);
$gray: rgb(238, 238, 238);

//background colors:
$primary-background-color: rgb(255, 255, 255);
$alt-background-color: rgb(240, 240, 240);

//text colors:
$primary-text-color: rgb(16, 24, 32);
$alt-text-color: rgb(255, 255, 255);

//accent colors:
$primary-accent-color: rgb(252, 224, 100);
$alt-accent-color: rgb(209, 224, 215);

//button colors:
$primary-button-color: rgb(24, 30, 36);

//font-families:
$heading-font: "Oswald", "Times New Roman, serif";
$content-font: public sans, "times new roman";

//line-height:
$line-height: 1.2;
$alt-line-height: 2rem;

//padding:
$default-sidebar-padding: 2rem;
$default-element-padding: 2rem;
$default-element-padding-mobile: 2rem;
$default-section-padding: 5rem;

//border-radius:
$subtle-border-radius: 0.5rem;
